<div class="container mt-4">
    <!--LISTADO-->
    <div class="d-flex justify-content-between align-items-center">
        <div class="col">
            <h2>Listado de Contribuyentes</h2>
        </div>
        <div class="col text-end">
            <span>Total Itbis: <strong>${{totalItbis | currency:'DOP'}}</strong></span>
        </div>
    </div>

    <div>
        <table class="table table-bordered table-hover mt-3">
            <thead class="table-dark">
                <tr>
                <th></th>
                <th>RNC / Cédula</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Estatus</th>
                <th>Comprobantes Fiscales</th>
                </tr>
            </thead>
            <tbody>
                @for (c of contribuyentes; track c.rncCedula){
                <tr>
                <td class="text-center">
                    <input 
                    type="checkbox"
                    class="form-check-input"
                    style="cursor: pointer;"
                    [checked]="contribuyente?.rncCedula === c.rncCedula"
                    (change)="selectedContribuyente(c)" />
                </td>
                <td>{{ c.rncCedula }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.tipo }}</td>
                <td>
                    <span [class]="getAlertClass(c.estatus)">
                    {{ c.estatus | titlecase }}
                    </span>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-secondary" (click)="verComprobantes(c)"><i class="bi bi-eye"></i>Detalles</button>
                </td>
                </tr>
                } 
                @empty {
                    <div></div><span class="text-center">No hay datos</span>
                }
            </tbody>
        </table>
    </div>

    <!--MODAL DETALLE-->
    <div class="modal fade" id="comprobanteModal" tabindex="-1" aria-labelledby="comrprobanteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="comrprobanteModalLabel">Comprobantes Fiscales</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-listado-comprobantes-fiscales [contribuyente]="contribuyente" [comprobantes]="comprobantes" />
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cerrar</button>
            </div>
        </div>
        </div>
    </div>

  </div>
  