<div class="d-flex justify-content-between align-items-center">
    <div class="col">
        <span>RNC/Cédula: <strong>{{contribuyente?.rncCedula}}</strong></span>
    </div>
    <div class="col text-end">
        <span>Total Itbis: <strong>${{totalItbis | currency:'DOP'}}</strong></span>
    </div>
</div>
<div>
    <table class="table table-bordered table-hover mt-3">
        <thead class="table-dark">
            <tr>
            <th>NCF</th>
            <th>Monto</th>
            <th>ITBIS</th>
            </tr>
        </thead>
        <tbody>
            @for (c of comprobantes; track c.id){
            <tr>
            <td>{{ c.ncf }}</td>
            <td>{{ c.monto }}</td>
            <td>{{ c.itbis18 }}</td>
            </tr>
            } 
            @empty {
                <tr><td>No hay datos para mostrar</td>
                </tr>
            }
        </tbody>
    </table>
</div>  